*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
 

}
#main{
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #000;
    position: relative;
    overflow: hidden;
}
#box{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;

  mix-blend-mode: difference;
  position: absolute;
  transition: all linear 0.2s ;
}
